/**
* index.css
*
* @author Edwin Cotto <edtowers1037@gmail.com>
* @copyright Edwin Cotto, All rights reserved.
*
* @version 2024-February-04 initial version
*/
.index_view {
  width: 100%;
  height: calc(100% - 15rem);
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 1rem;
  background: url("/frontend/assets/images/polytechnicUniversity.jpg") no-repeat;
  background-size: cover;
}

.index_navBarContainer {
  padding: 1rem;
}

.index_container {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.index_newArray {
  background-color: aquamarine;
}
