.articleTile_view {
    display: grid;
    column-gap: 0.5rem;
    justify-content: flex-start;
    margin: 1rem 1rem 1rem 0;
}

.articleTile_index {
    grid-area: 1/1/1/1;
}

.articleTile_info {
    grid-area: 1/2/1/3;
    padding-left: 0.5rem;
    border-left: 1px solid rgb(0, 0, 0);
}

.articleTile_title {}

.articleTile_year {
    font-size: 1.5rem;
}

.articleTile_journal {
    font-size: 1.5rem;
}