/**
* navigationBar.css
*
* @author Edwin Cotto <edtowers1037@gmail.com>
* @copyright Edwin Cotto, All rights reserved.
*
* @version 2024-February-04 initial version
*/

.navigationBar_view {
  display: grid;
  grid-gap: 1rem;
}

.navigationBar_view {
  display: flex;
}

.navigationBar_logo {
  width: 7rem;
  height: 10rem;
  background-color: transparent;
  border-color: transparent;
}

.navigationBar_logo>* {
  width: fit-content;
  height: 10rem;
}